<div class="container">
    <div class="card">
      <form class="card-form" [formGroup]="form" (ngSubmit)="submit()">
            <h2 class="card-title">Potvrda o vakcinaciji</h2>
        <div class="input">
            <input
                type="text"
                class="input-field"
                formControlName="ime"
                required
            />
            <label class="input-label">Ime</label>
        </div>
        <div class="input">
            <input
                type="text"
                class="input-field"
                formControlName="prezime"
                required
            />
            <label class="input-label">Prezime</label>
        </div>
        <div class="input">
          <input
            type="date"
            class="input-field"
            formControlName="datumRodjenja"
            required
          />
          <label class="input-label">Datum rođenja</label>
        </div>
        <div class="input">
          <select formControlName="pol" class="drop-menu" required>
              <option value="Muski">Muško</option>
              <option value="Zenski">Žensko</option>
          </select>
          <label class="input-label">Pol</label>
        </div>
        <div class="input">
            <input
              type="text"
              class="input-field"
              formControlName="jmbg"
              required
            />
            <label class="input-label">Jmbg</label>
        </div>

        <div class="input">
          <input
            type="text"
            class="input-field"
            formControlName="ustanova"
            required
          />
          <label class="input-label">Ustanova</label>
      </div>

        <div class="action">
          <button
            type="submit"
            class="action-button"
            id="submit"
            name="submit"
            [disabled]="!form.valid"
          >
            Potvrdi primljenu dozu vakcine
          </button>
        </div>
      </form>
      <br>
  </div>