<div class="container">
  <div class="card">
    <form class="card-form" [formGroup]="form" (ngSubmit)="submit()">
          <h2 class="card-title">Iskazivanje interesovanja za vakcinisanje protiv COVID-19</h2>
          <div class="input">
            <select class="drop-menu" required formControlName="opcija">
                <option value="Državljanin Republike Srbije">Državljanin Republike Srbije</option>
                <option value="Strani državljanin sa boravkom u RS">Strani državljanin sa boravkom u RS</option>
                <option value="Strani državljanin bez boravka u RS">Strani državljanin bez boravka u RS</option>
            </select>
            <label class="input-label">Odaberite opciju *</label>
          </div>

      <div class="input">
          <input
              type="text"
              class="input-field"
              formControlName="jmbg"
              required
          />
          <label class="input-label">JMBG *</label>
      </div>

      <div class="input">
        <input
            type="text"
            class="input-field"
            formControlName="ime"
            required
        />
        <label class="input-label">Ime *</label>
      </div>

      <div class="input">
        <input
            type="text"
            class="input-field"
            formControlName="prezime"
            required
        />
        <label class="input-label">Prezime *</label>
      </div>

      <div class="input">
        <input
            type="text"
            class="input-field"
            formControlName="email"
            required
        />
        <label class="input-label">Adresa elektronske pošte *</label>
      </div>

      <div class="input">
        <input
            type="text"
            class="input-field"
            formControlName="brMobilni"
            required
        />
        <label class="input-label">Broj mobilnog telefona (primer 065786567) *</label>
      </div>

      <div class="input">
        <input
            type="text"
            class="input-field"
            formControlName="brFiksni"
            required
        />
        <label class="input-label">Broj fiksnog telefona (primer 011786567) *</label>
      </div>

      <div class="input">
        <input
            type="text"
            class="input-field"
            formControlName="opstina"
            required
        />
        <label class="input-label">Lokacija gde želite da primite vakcinu (opština) *</label>
      </div>

      <div class="input">
        <select formControlName="vakcina" class="drop-menu" required>
            <option value="Pfizer-BioNtech">Pfizer-BioNtech</option>
            <option value="Sputnik V">Sputnik V</option>
            <option value="Sinopharm">Sinopharm</option>
            <option value="AstraZeneca">AstraZeneca</option>
            <option value="Moderna">Moderna</option>
        </select>
      <label class="input-label">Odaberite vakcinu *</label>
      </div>

      <div class="input">
        <select formControlName="davalac" class="drop-menu" required>
            <option value="Da">Da</option>
            <option value="Ne">Ne</option>
        </select>
      <label class="input-label">Da li ste dobrovoljni davalac krvi? *</label>
      </div>
      
      <div class="action">
        <button
          type="submit"
          class="action-button"
          id="submit"
          name="submit"
          [disabled]="!form.valid"
        >
          Iskažite interesovanje
        </button>
      </div>
    </form><br>
</div>