<mat-card>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <h2>Zahtev za izdavanje digitalnog zelenog sertifikata</h2>
            <mat-form-field>
                <input matInput placeholder="Ime" formControlName="ime" required />
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Prezime" formControlName="prezime" required />             
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Datum rođenja (YYYY-MM-DD)" formControlName="datum" required />            
            </mat-form-field>

            <mat-form-field >
                <mat-label>Pol</mat-label>
                <mat-select required formControlName="pol">
                    <mat-option *ngFor="let option of options" [value]="option.value">
                        {{option.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Jmbg" formControlName="jmbg" required />             
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Broj pasoša" formControlName="brPasosa" required />              
            </mat-form-field>

            <mat-form-field>
                 <textarea matInput placeholder="Razlog za podnošenje zahteva" formControlName="razlog"
                    required></textarea>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Grad</mat-label>
                <mat-select required formControlName="opstina">
                  <mat-option *ngFor="let o of opstine" [value]="o.value">
                    {{o.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

             <button mat-raised-button color="primary" [disabled]="!form.valid">
                Kreiraj
            </button>
        </form>
    </mat-card-content>
</mat-card>