<div class="container">
  <div class="card">
    <form class="card-form" [formGroup]="form" (ngSubmit)="submit()">
          <h2 class="card-title">Saglasnost za sprovođenje preporučene imunizacije</h2>
          <div class="input">
            <select class="drop-menu" required formControlName="opcija">
                <option value="Državljanin Republike Srbije">Državljanin Republike Srbije</option>
                <option value="Strani državljanin">Strani državljanin</option>
            </select>
            <label class="input-label">Odaberite opciju</label>
          </div>

      <div class="input">
          <input
              type="text"
              class="input-field"
              formControlName="stranoDrzavljanstvo"
              required
          />
          <label class="input-label">Strano državljanstvo</label>
      </div>

      <div class="input">
        <input
            type="text"
            class="input-field"
            formControlName="brPasosa"
            required
        />
        <label class="input-label">Broj pasoša</label>
      </div>

      <div class="input">
          <input
              type="text"
              class="input-field"
              formControlName="jmbg"
              required
          />
          <label class="input-label">JMBG</label>
      </div>

      <div class="input">
        <input
            type="text"
            class="input-field"
            formControlName="ime"
            required
        />
        <label class="input-label">Ime</label>
      </div>

      <div class="input">
        <input
            type="text"
            class="input-field"
            formControlName="prezime"
            required
        />
        <label class="input-label">Prezime</label>
      </div>

      <div class="input">
        <input
            type="text"
            class="input-field"
            formControlName="imeRoditelja"
            required
        />
        <label class="input-label">Ime roditelja</label>
      </div>

      <div class="input">
        <select class="drop-menu" required formControlName="pol">
            <option value="Musko">Muško</option>
            <option value="Zensko">Žensko</option>
        </select>
        <label class="input-label">Pol</label>
      </div>

      <div class="input">
        <input
            type="date"
            class="input-field"
            formControlName="datum"
            required
        />
        <label class="input-label">Datum rođenja</label>
      </div>

      <div class="input">
        <input
            type="text"
            class="input-field"
            formControlName="mestoRodjenja"
            required
        />
        <label class="input-label">Mesto rođenja</label>
      </div>

      <div class="input">
        <input
            type="text"
            class="input-field"
            formControlName="ulica"
            required
        />
        <label class="input-label">Adresa (ulica)</label>
      </div>

      <div class="input">
        <input
            type="text"
            class="input-field"
            formControlName="broj"
            required
        />
        <label class="input-label">Adresa (broj)</label>
      </div>

      <div class="input">
        <input
            type="text"
            class="input-field"
            formControlName="naselje"
            required
        />
        <label class="input-label">Naselje</label>
      </div>

      <div class="input">
        <input
            type="text"
            class="input-field"
            formControlName="opstina"
            required
        />
        <label class="input-label">Opština</label>
      </div>

      <div class="input">
        <input
            type="text"
            class="input-field"
            formControlName="email"
            required
        />
        <label class="input-label">Adresa elektronske pošte</label>
      </div>

      <div class="input">
        <input
            type="text"
            class="input-field"
            formControlName="brMobilni"
            required
        />
        <label class="input-label">Broj mobilnog telefona (primer 065786567)</label>
      </div>

      <div class="input">
        <input
            type="text"
            class="input-field"
            formControlName="brFiksni"
            required
        />
        <label class="input-label">Broj fiksnog telefona (primer 011786567)</label>
      </div>

      <div class="input">
        <select class="drop-menu" required formControlName="radniStatus">
            <option value="Zaposlen">Zaposlen</option>
            <option value="Nezaposlen">Nezaposlen</option>
            <option value="Penzioner">Penzioner</option>
            <option value="Učenik">Učenik</option>
            <option value="Student">Student</option>
            <option value="Dete">Dete</option>
        </select>
        <label class="input-label">Radni status</label>
      </div>

      <div class="input">
        <select class="drop-menu" required formControlName="zanimanjeZaposlenog">
            <option value="Zdravstvena zaštita">Zdravstvena zaštita</option>
            <option value="Socijalna zaštita">Socijalna zaštita</option>
            <option value="Prosveta">Prosveta</option>
            <option value="MUP">MUP</option>
            <option value="Vojska RS">Vojska RS</option>
            <option value="Drugo">Drugo</option>
        </select>
        <label class="input-label">Zanimanje zaposlenog</label>
      </div>

      <div class="input">
        <select class="drop-menu" required formControlName="korisnikSZ">
            <option value="Da">Da</option>
            <option value="Ne">Ne</option>
        </select>
        <label class="input-label">Korisnik ustanove socijalne zaštite</label>
      </div>

      <div class="input">
        <input
            type="text"
            class="input-field"
            formControlName="mestoSedistaZastite"
            required
        />
        <label class="input-label">Mesto sedišta zaštite</label>
      </div>

      <div class="input">
        <input
            type="text"
            class="input-field"
            formControlName="opstinaSedistaZastite"
            required
        />
        <label class="input-label">Opština sedišta zaštite</label>
      </div>

      <div class="input">
        <select class="drop-menu" required formControlName="saglasan">
            <option value="Saglasan/na sam">Saglasan/na sam</option>
            <option value="Nisam saglasan/na">Nisam saglasan/na</option>
        </select>
        <label class="input-label">Saglasnost</label>
      </div>

      <div class="input">
        <input
            type="text"
            class="input-field"
            formControlName="nazivLekara"
            required
        />
        <label class="input-label">Naziv imunološkog lekara</label>
      </div>

      <div class="input">
        <select formControlName="vakcina" class="drop-menu" required>
            <option value="Pfizer-BioNtech">Pfizer-BioNtech</option>
            <option value="Sputnik V">Sputnik V</option>
            <option value="Sinopharm">Sinopharm</option>
            <option value="AstraZeneca">AstraZeneca</option>
            <option value="Moderna">Moderna</option>
        </select>
      <label class="input-label">Odaberite vakcinu</label>
      </div>
      
      <div class="action">
        <button
          type="submit"
          class="action-button"
          id="submit"
          name="submit"
          [disabled]="!form.valid"
        >
          Iskažite interesovanje
        </button>
      </div>
    </form><br>
</div>