<br><br><br><br><br><br><br><br>
<div class="container">
  <div class="card">
    <form class="card-form" [formGroup]="form" (ngSubmit)="submit()">
          <h2 class="card-title">Prijava</h2>
      <div class="input">
        <input
          type="text"
          class="input-field"
          formControlName="email"
          name="email"
          required
        />
          <label class="input-label">Korisnički email</label>
      </div>

      <div class="input">
        <input
          type="password"
          class="input-field"
          formControlName="lozinka"
          name="lozinka"
          required
        />
        <label class="input-label">Lozinka</label>
      </div>

      <div class="action">
        <button
          type="submit"
          class="action-button"
          id="submit"
          name="submit"
          [disabled]="!form.valid"
        >
        Prijavite se
        </button>
      </div>
    </form>
    <br>
</div>