<div class="container">
    <div class="card">
      <form class="card-form" [formGroup]="form" (ngSubmit)="submit()">
            <h2 class="card-title">Evidencija o vakcinaciji protiv COVID-19</h2>
        <div class="input">
            <input
                type="text"
                class="input-field"
                formControlName="jmbg"
                required
            />
            <label class="input-label">Jmbg</label>
        </div>
        <div class="input">
            <input
                type="text"
                class="input-field"
                formControlName="zdravstvenaUstanova"
                required
            />
            <label class="input-label">Zdravstvena ustanova</label>
        </div>
        <div class="input">
          <input
            type="date"
            class="input-field"
            formControlName="datumDavanjaVakcine"
            required
          />
          <label class="input-label">Datum vakcinacije</label>
        </div>
        <div class="input">
            <input
                type="text"
                class="input-field"
                formControlName="podaciOLekaru"
                required
            />
            <label class="input-label">Podaci o lekaru</label>
        </div>
        <div class="input">
            <input
                type="text"
                class="input-field"
                formControlName="vakcinacijskiPunkt"
                required
            />
            <label class="input-label">Vakcinacijski punkt</label>
        </div>
        <div class="input">
            <select class="drop-menu" formControlName="vakcina" required>
                <option value="Pfizer-BioNtech">Pfizer-BioNtech</option>
                <option value="Sputnik V">Sputnik V</option>
                <option value="Sinopharm">Sinopharm</option>
                <option value="AstraZeneca">AstraZeneca</option>
                <option value="Moderna">Moderna</option>
            </select>
        <label class="input-label">Odaberite vakcinu</label>
        </div>
        <div class="input">
            <input
                type="text"
                class="input-field"
                formControlName="nacinDavanjaVakcine"
                value="IM"
                required
            />
            <label class="input-label">Način davanja vakcine</label>
        </div>
        <div class="input">
            <select class="drop-menu" formControlName="ekstremitet" required>
                <option value="Leva ruka">Leva ruka</option>
                <option value="Desna ruka">Desna ruka</option>
            </select>
        <label class="input-label">Ekstremitet</label>
        </div>
        <div class="input">
            <input
                type="text"
                class="input-field"
                formControlName="serijaVakcine"
                required
            />
            <label class="input-label">Serija vakcine</label>
        </div>
        <div class="input">
            <input
                type="text"
                class="input-field"
                formControlName="proizvodjac"
                required
            />
            <label class="input-label">Proizvođač vakcine</label>
        </div>
        <div class="input">
            <input
                type="text"
                class="input-field"
                formControlName="nezeljenaReakcija"
                required
            />
            <label class="input-label">Neželjena dejstva vakcine</label>
        </div>

        <div class="action">
          <button
            type="submit"
            class="action-button"
            id="submit"
            name="submit"
            [disabled]="!form.valid"
          >
            Potvrdi
          </button>
        </div>
      </form>
      <br>
  </div>